<!-- Header -->
			<div id="header-wrapper">
				<div id="header">

					<!-- Logo -->
						<h1><a href="/">Stoner Stash Boxes</a></h1>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li class="current"><a href="/">Home</a></li>
								<li>
									<a href="/stash-boxes/">Stash Boxes</a>
									<ul>
										<li><a href="#">Wooden Stash Boxes</a></li>
										<li><a href="#">Secret Stash Boxes</a></li>
									</ul>
								</li>
								<li>
										<a href="#">Stash Jars</a>
										<ul>
											<li><a href="#">Glass Stash Jars</a></li>
											<li><a href="#">Cheap Stash Jars</a></li>
										</ul>
								</li>
								<li><a href="#">Diversion Safes</a></li>
							</ul>
						</nav>

					<!-- Banner -->
						<section id="banner">
							<header>
								<h2>Welcome to Stoner Stash Boxes</h2>
								<p>A curated collection of stash boxes and jars</p>
							</header>
						</section>

					<!-- Intro -->
						<section id="intro" class="container">
							<br>
							<p>Between Amazon, Etsy, and individual retailers, there are thousands of stash boxes and jars out there. It can be a lot to sort through. And to be honest, a lot of them are crap! Lucky for you, we’ve sorted through the rest and have found the best. At stoner stash boxes, you will find curated listings of the best stash boxes and stash jars on the market.</p>
							<p>Browse our favorite stashes below, or find something more specific by visiting the menu above. If you have find a cool stash that we don’t have listed, feel free to reach out via our contact page.</p>
						</section>

				</div>
			</div>
