<!-- Header -->
			<div id="header-wrapper">
				<div id="header">

					<!-- Logo -->
						<h1><a href="/">Stoner Stash Boxes</a></h1>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li class="current"><a href="/">Home</a></li>
								<li>
									<a href="/stash-boxes/">Stash Boxes</a>
									<ul>
										<li><a href="#">Wooden Stash Boxes</a></li>
										<li><a href="#">Secret Stash Boxes</a></li>
									</ul>
								</li>
								<li>
										<a href="#">Stash Jars</a>
										<ul>
											<li><a href="#">Glass Stash Jars</a></li>
											<li><a href="#">Cheap Stash Jars</a></li>
										</ul>
								</li>
								<li><a href="#">Diversion Safes</a></li>
							</ul>
						</nav>

					<!-- Banner -->
						<section id="banner">
							<header>
								<h2>Welcome to Stoner Stash Boxes</h2>
								<p>A curated collection of stash boxes and jars</p>
							</header>
						</section>

					<!-- Intro -->
						<section id="intro" class="container">
							<br>
							<p>
								Vestibulum scelerisque ultricies libero id hendrerit. Vivamus malesuada quam faucibus ante dignissim auctor
								hendrerit libero placerat. Nulla facilisi. Proin aliquam felis non arcu molestie at accumsan turpis commodo.
								Proin elementum, nibh non egestas sodales, augue quam aliquet est, id egestas diam justo adipiscing ante.
								Pellentesque tempus nulla non urna eleifend ut ultrices nisi faucibus.
								Vestibulum scelerisque ultricies libero id hendrerit. Vivamus malesuada quam faucibus ante dignissim auctor
								hendrerit libero placerat. Nulla facilisi. Proin aliquam felis non arcu molestie at accumsan turpis commodo.
								Proin elementum, nibh non egestas sodales, augue quam aliquet est, id egestas diam justo adipiscing ante.
							</p>
						</section>

				</div>
			</div>
