<!-- Header -->
	<div id="header-wrapper">
		<div id="header">

			<!-- Logo -->
				<h1><a href="{{ site.baseurl }}/">Stoner Stash Boxes</a></h1>

			<!-- Nav -->
			<nav id="nav">
				<ul>
					<li class="current"><a href="/">Home</a></li>
					<li>
						<a href="/stash-boxes/">Stash Boxes</a>
						<ul>
							<li><a href="#">Wooden Stash Boxes</a></li>
							<li><a href="#">Secret Stash Boxes</a></li>
						</ul>
					</li>
					<li>
							<a href="#">Stash Jars</a>
							<ul>
								<li><a href="#">Glass Stash Jars</a></li>
								<li><a href="#">Cheap Stash Jars</a></li>
							</ul>
					</li>
					<li><a href="#">Diversion Safes</a></li>
				</ul>
			</nav>
<!--
				<div class="header-img">
					<img src="{{ site.baseurl }}/assets/images/pic11.jpg">
				</div>
-->
		</div>
	</div>
